<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="Avto.Properties.Settings.TestBaseConnectionString"
   connectionString="Data Source=HONORDUTY\SQLEXPRESS;Initial Catalog=TestBase;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>